@font-face {
  font-family: 'Cloister Black';
  src: url('@/assets/fonts/CloisterBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#root {
  text-align: center;
  min-height: 100vh;
  padding: 16px;
  color: #fff;
  font-family: 'Cormorant Garamond', serif;
  display: grid;
  position: relative;
}

h1,
h2,
h3 {
  font-family: 'Cloister Black', serif;
}

video {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
